.slick-dots {
  bottom: 0px;
  min-height: 5vh;
}

.slick-slider, .slick-list, .slick-track{
  height:90vh;
}

.slick-prev {
  left:0px;
}
.slick-next {
  right:0px;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
@media (min-width:992px) {

  .laptop {
    height:50vh;
  }
  .laptop > div {
    height: 50vh;
  }
  .laptop > div > div {
    height: 50vh;
  }

}