.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem; 
  position: absolute; 
  position: relative;
  z-index: 1000;  
  width: 100%; 
  background-color: white; 
}

.navbar-sticky {
  background:white;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 100;
  box-shadow: 1px 1px 1px #222; 
  animation: moveDown 0.5s ease-in-out; 
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}